@import "tailwindcss";

@theme {
  --color-primary: #ea580c; /* Orange-600 */
  --color-secondary: #1e293b; /* Slate-800 */
  --color-accent: #22c55e; /* Green-500 */
  
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Outfit', sans-serif;
}

@layer base {
    body {
        @apply font-sans antialiased text-secondary bg-white;
    }
}
