@import "tailwindcss";

@theme {
  --color-primary: #c07706;
  /* Golden Innovation Orange */
  --color-secondary: #3d2820;
  /* Deep Espresso Brown */
  --color-accent: #dfc7a7;
  /* Creamy Latte Beige */

  --font-sans: 'Inter', sans-serif;
  --font-display: 'Outfit', sans-serif;
}

@layer base {
  body {
    @apply font-sans antialiased text-secondary bg-white;
  }
}